<h3>Send it with the following contents.</h3>

<%= form_with(model: @tweet, url: tweets_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>Content: <%= @tweet.content %></p>
  <%= form.submit  "submit" %>
<% end %>